.user{
	margin: 2px;
	border: 1px solid black;
}

.chat{
	position: absolute;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
#textArea{
	background: white;
	resize: none; 
	width: 100%;
	height: calc(100% - 20px);
}
#chatPage{
	background: gray;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
#chatDiv{
	background: #E8E8E8;
	top : 0;
	bottom: 0;
	left: 0;
	right: 15%;
}

#usersDiv{
	background: #E8E8E8;
	top: 0;
	bottom: 0;
	left: 85%;
	right: 0;
}
#connectFormDiv{
	width : 300px;
	left : calc(50% - 150px);
	border : 5px ridge silver;
	margin: 2px;
}
#chatEnter{
	bottom: 0;
	font-size: 11pt;
	width: 99%;
	height: 20px;
}
label{
float:left;
width:80px;
text-align:left;
}
body{
	background-image: url("background.jpg");
}
